.header {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    color: white;
}



.header button {
    cursor: pointer;
    color: white;
    border: none;
    margin: 10px;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.header .button-background {
    background-image: linear-gradient(to right, #11998e, #38ef7d);

}

.header .button-background2 {
    background-image: linear-gradient(to right, #FF416C, #FF4B2B);
}

@media only screen and (min-width: 600px) {
    .header h1 {
        font-size: 20px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .header h1 {
        font-size: 35px;
        text-align: center;
    }
}


@media only screen and (min-width: 992px) {
    .header h1 {
        font-size: 45px;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .header h1 {
        font-size: 60px;
        text-align: center;
    }
}

@media only screen and (min-width: 1280) {
    .header h1 {
        font-size: 70px;
        text-align: center;
    }
}


.home-about {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.reach-text {
    text-align: center;
}

.reach-header {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    color: turquoise;
    padding-bottom: 0px;
    margin-bottom: 0px;

}
