#navbar {
    border-bottom: 1px solid rgb(236, 235, 235);
    height: 50px;
}

#navbarMobile {
    border-bottom: 1px solid rgb(236, 235, 235);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.logo-desktop {
    height: 42px;
    padding-top: 5px;
    padding-left: 50px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;
    margin-right: 70px;
}

#navbar ul li:hover a:hover {
    background-color:  #01a501;
    color: white;
}

#navbar ul li {
    display: inline;
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
}


#navbar ul li a .active{
    color: #fff;
}


.active {
    background-color:  #007f00;
    color: #fff;
}

a {
    color: #000;
}

.logo-mobile {
    height: 30px;
    padding-top: 9px;
    padding-left: 10px;
}